page-login {
  form {
   margin-bottom: 32px;
   position: absolute;
   bottom: 10px;
   width: 90%;
   button {
     margin-top: 20px;
   }
 }

 p {
   font-size: 0.8em;
   color: #d2d2d2;
 }

 ion-label {
   margin-left: 5px;
 }

 ion-input {
   padding: 5px;
 }

 .invalid {
   border-bottom: 1px solid #FF6153;
 }

 .error-message .item-inner {
   border-bottom: 0 !important;
 }
}
.fondo {
  background: url("../../assets/images/background_loginscreen.png") no-repeat center center fixed !important;
         -webkit-background-size: cover  !important;
         -moz-background-size: cover  !important;
         background-size: cover  !important;
}
