page-sign-up {

    .sign-content {
      background: url("http://www.nachosoft.esy.es/loc2.jpg") no-repeat center center fixed !important;

      ion-row {
         align-items: center;
         text-align: center;
       }
       ion-item {
           border-radius: 10px !important;
           padding-left: 30px !important;
           font-size: 1em;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
       .signup-col {
         margin: 0px 16px 0px 16px;
         padding-bottom: 20px;
       }

       .invalid {
         border-bottom: 1px solid #FF6153;
       }

       .error-message .item-inner {
         border-bottom: 0 !important;
       }
    }

}
